<div class="sx">
  <mat-card class="example-card example-card-color">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="circle" [ngStyle]="{'background-color': dog.online ? 'green':'red'}"><p>Connected</p></div>
        <div mat-card-avatar>
          <img class="example-header-image" mat-card-avatar src="{{dog.avatar}}" alt="Dog avatar">
        </div>
        <mat-card-title>{{dog.name}}</mat-card-title>
        <mat-card-subtitle>{{dog.breed}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image1" mat-card-image src="{{dog.image}}" alt="Dog photo">
      <mat-card-content>
        <p>
          {{dog.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</div>
