.example-card-color {
  background-color: rgba(164, 160, 160, 0.55);
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}
p{
  margin-left: 20px;
}
